@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Roboto+Mono&display=swap");

.navBarContainer {
  background-color: rgb(204, 139, 206);
  display: flex;
  justify-content: space-between;
  height: 7vh;
  width: 100vw;
  color: white;
  font-size: 30px;
  font-family: Dancing Script;
}

.Navbarleft {
  margin-left: 50px;
  /* background-color: red; */
  font-size: 50px;
  display: flex;
  align-items: center;
}
.navBarLastButton {
  display: flex;
  /* background-color: red; */
  margin-right: 50px;
  align-items: center;
}
.navBarLastButton:hover {
  background-color: rgb(180, 115, 182);
  cursor: pointer;
  border-radius: 10%;
}

.navBarCenterButtons {
  /* background-color: red; */
  width: 40vw;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
span:hover {
  background-color: rgb(180, 115, 182);
  cursor: pointer;
  border-radius: 10%;
}
