/* homeSwiper.css */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');



html, body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    height: 100%;
    font-family: "Playfair Display", serif;
  }
  
  .home-swiper-container {
    width: 100vw; /* El carrusel ocupa todo el ancho de la pantalla */
    height: 80vh; /* El carrusel ocupa toda la altura de la pantalla */
    overflow: hidden;
    position: relative;
    background-color: var(--body-color);
  }
  
  .home-swiper-slide {
    display: flex;
    width: 80%;
    height: 100%;
    align-items: center;
    justify-content: center;
    background-color: var(--body-color);
    margin: 0 auto;
  }
  
  .image-section {
    width: 100%;
    height: 100%;
  }
  
  .image-section img {
    width: 100%; /* Ocupa todo el ancho del carrusel */
    height: 100%; /* Asegura que la imagen mantenga proporción */
    object-fit: cover; /* Recorta la imagen para cubrir el área */
    transform: translateY(-20%);
  }

/* Sección fija encima del Swiper */
.fixed-section {
  position: absolute;
  top: 50%;
  left: 73%;
  
  transform: translate(-50%, -50%); /* Lo mueve exactamente al centro */
  z-index: 10;
  text-align: center;
  width: 20%;
  padding: 20px;
  border-radius: 10px;
}

/* Estilos para el título */
.fixed-section h1 {
  font-family: "Playfair Display", serif;
  text-align: left;
  line-height: 1.8;
  font-weight: 100;
  font-style: normal;
  color: #e2e2e2; /* Negro más suave */
  font-size: 3.2rem;
  text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5); /* Sombra para mayor contraste */
  margin-bottom: 5px;
}

/* Boton */
.buttons-container button {
  padding: 12px 25px;
  margin: 40px 10px 10px;
  margin-left: -75px;
  background-color: rgba(32, 32, 32); /* Transparente pero opaco */
  color: #fff;
  cursor: pointer;
  font-size: 1.2rem;
  font-weight: bold;
  letter-spacing: 1px;
  backdrop-filter: blur(10px); /* Difuminado elegante */
}

/* Efecto hover */
.buttons-container button:hover {
  background-color: rgb(58, 73, 77);
}

  
  .content-section {
    position: absolute; /* Lo mantiene fijo */
    z-index: 2;
    top: 50%;
    left: 20px; /* Ajusta el margen izquierdo si es necesario */
    transform: translateY(-50%); /* Centra verticalmente */
    width: 300px; /* O ajusta el tamaño del contenido */
    color: white; /* Para que el texto sea visible sobre imágenes oscuras */
  }
  
  .content-section h1 {
    font-size: var(--normal-font-size);
    margin-bottom: var(--mb-0-75);
    margin-top: 15%;
  }
  
  .content-section h2 {
    font-size: var(--biggest-font-size);
    margin-bottom: var(--mb-1);
    font-weight: var(--font-bold);
    color: var(--title-color);
    margin-top: 10px;
  }
  
  .content-section h3 {
    font-size: var(--normal-font-size);
    margin-bottom: var(--mb-0-75);
    color: var(--text-color);
    text-align: center;
  }
  
  .content-section button {
    padding: 10px 20px;
    background-color: var(--first-color-alt);
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    width: 25%;
    height: 60px;
    margin-top: 20px;
  }
  
  .content-section button:hover {
    background-color: var(--first-color);
  }
  
  @media (max-width: 768px) {
    .content-section {
      padding: 15px;
    }
  
    .image-section img {
      height: 300px;
    }
  }
  