
html, body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    height: 100%;
    font-family: var(--body-font2);
}

.home-swiper-container {
    width: 100vw;
    height: 80vh;
    overflow: hidden;
    position: relative;
    background-color: var(--body-color);
    display: flex;
    align-items: center;
    justify-content: center;
}

.home-swiper-slide {
    display: flex;
    width: 80%;
    height: 100%;
    align-items: center;
    justify-content: center;
    background-color: var(--body-color);
    margin: 0 auto;
}

.image-section {
    width: 100%;
    height: 100%;
}

.image-section img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: translateY(-10%);
}

/* Sección fija encima del Swiper */
.fixed-section {
    position: absolute;
    top: 50%;
    left: 73%;
    transform: translate(-50%, -50%);
    z-index: 10;
    text-align: center;
    width: 20%;
    padding: 20px;
    border-radius: 10px;
}

/* Estilos para el título */
.fixed-section h1 {
    font-family: "Playfair Display", serif;
    text-align: left;
    line-height: 1.6;
    font-weight: 400;
    color: var(--body-color);
    font-size: 3vw;
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
}

/* Botón */
.buttons-container button {
    padding: 12px 20px;
    margin: 40px 50px 0px 0px;
    background-color: var(--button-color);
    color: var(--body-color);
    cursor: pointer;
    font-size: 1.5rem;
    letter-spacing: 1px;
    border: none;
    backdrop-filter: blur(10px);
}

.buttons-container button:hover {
    background-color: var(--button-color-hover);
}

/* Contenido del slider */
.content-section {
    position: absolute;
    z-index: 2;
    top: 50%;
    left: 5%;
    transform: translateY(-50%);
    width: 30%;
    color: white;
    text-align: left;
}

.content-section h1 {
    font-size: 2vw;
    margin-bottom: 10px;
}

.content-section h2 {
    font-size: 3vw;
    margin-bottom: 15px;
    font-weight: bold;
    color: var(--title-color);
}

.content-section h3 {
    font-size: 1.5vw;
    color: var(--text-color);
}

.content-section button {
    padding: 10px 20px;
    background-color: var(--first-color-alt);
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    width: auto;
    margin-top: 20px;
}

.content-section button:hover {
    background-color: var(--first-color);
}

/* ===== MEDIA QUERIES ===== */

@media (max-width: 1024px) {
    .home-swiper-container {
        width: 100vw;
        top: -100px;
    }
    
    .home-swiper-slide {
        width: 100%;
    }

    .fixed-section {
        width: 40% !important;
        margin-bottom: 100px;
        background-color: rebeccapurple;
    }

    .fixed-section h1 {
        font-size: 7vw !important; 
    }

    .buttons-container button {
        font-size: 1.5rem !important;
    }
}

@media (max-width: 768px) {
    .home-swiper-container {
        height: 100vh;
    }

    .fixed-section {   
        height: 100vh;
        top: 100% !important;
        left: 10%;
        margin-bottom: 100px;
    }

    .fixed-section h1 {
        font-size: 2rem;
    }

    .buttons-container button {
        font-size: 1rem;
        padding: 10px 15px;
    }
}

@media (max-width: 480px) {
    .home-swiper-container {
        height: 80vh !important;
    }

    .fixed-section {
        width: 80%;
        right: 10%;
    }

    .content-section h1 {
        font-size: 5vw;
    }

    .fixed-section {
        width: 80%;
        left: 50%;
        top: 55%;
        transform: translate(-50%, -50%);
    }

    .fixed-section h1 {
        font-size: 1.8rem;
    }

    .buttons-container button {
        font-size: 0.9rem;
        padding: 8px 12px;
    }
}
