@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;400;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.leaflet-container {
  height: 100%;
  width: 100%;
  z-index: 0;
}

.text-shadow-custom {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
}
