.modal-overlay {
  font-family: "Playfair Display", serif;
  position: fixed;
  top: 0;
  right: -50%;
  width: 50%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(5px);
  transition: right 0.4s ease-in-out;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--nav-color);
}

.modal-overlay.open {
  right: 0;
}

.modal-content {
  background: var(--body-color);
  width: 85%;
  max-height: 100vh;
  overflow-y: auto;
  display: grid;
  grid-template-rows: auto 1fr;
  gap: 20px;
  padding: 20px;
}

.close-btn-contenedor {
  display: flex;
  justify-content: flex-start;
  position: sticky;
  top: 0;
  background: var(--body-color);
  z-index: 10;
}

.close-btn {
  position: absolute;
  top: 0;
  left: 10px;
  background: none;
  border: none;
  font-size: 1rem;
  color: var(--title-color);
  cursor: pointer;
  width: 40px;
}


.close-btn:hover {
  color: var(--title-color);
}

.titulo {
  color: var(--title-color);
  text-align: center;
  font-size: 2.5rem;
  font-weight: 500;
  padding-bottom: 15px;
  border-bottom: 3px solid rgba(32, 32, 32);
  margin-bottom: 10px;
}

.servicio {
  display: grid;
  grid-auto-rows: auto;
  gap: 10px;
  padding: 15px;
  border: 1px solid #000;
  text-align: center;
}

.servicio h2 {
  font-size: 1.7rem;
  margin: 0;
  color: var(--title-color);
}

.servicio p {
  font-size: 1.2rem;
  margin: 0;
}

.servicio-linea {
  width: 100%;
  border: none;
  border-top: 2px solid var(--container-color);
}

.servicio button {
  padding: 10px;
  background-color: var(--button-color);
  color: white;
  border: none;
  cursor: pointer;
  width: 60%;
  margin: 15px auto 0;
}

.servicio button:hover {
  background-color: var(--button-color-hover);
}

/* Responsividad */
@media (max-width: 768px) {
  .modal-overlay {
    right: -100%;
    width: 100%;
  }

  .modal-content {
    width: 100%;
    padding: 10px;
  }

  .servicio {
    grid-template-rows: auto auto auto auto auto;
    gap: 5px;
  }
}
